:root {
  --blue: #012654;
  --yellow: #fbe800;
  --grey: #ebebeb;
  --darkgrey: #2e2f31;
  --white: #fff;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}


/* ///// HEADINGS + TYPOGRAPHY /////////////////////////////////////// */

h1,
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
}

/* ///// HEADER /////////////////////////////////////// */

.hero {
  background-image:
          linear-gradient(
                  rgba(60, 60, 60, 0.3),
                  rgba(60, 60, 60, 0.3)),
          url(./images/sks_header.jpg);
  filter: grayscale(30%);
  height: 86vh;
  background-position: 15%;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  color: var(--grey);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.header-nav {
  padding: 16px;
  background:var(--blue);
  color:var(--grey);
}

.header-nav img {
  position: relative;
  height: 10vh;
  left: 5%;
}

.header-nav div {
  background-color:var(--grey);
  display: inline;
  position: relative;
  height: 20px;
  right: 5%;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}



/* //// SKS intro /////////////////////////////////////// */
.text-section:nth-child(2n-1) {
  background-color: var(--grey);
}
.intro-container {
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.intro-box {
  width: 60%;
  color: var(--blue);
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 700;
  border-left: solid 5px var(--blue);
  padding: 2% 0 2% 5%;
  margin: 0 auto;
}

/* ///// SKS TEXT /////////////////////////////////////// */

/* .text-container {
  width: 60%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
} */

.grid-section {
  display: grid;
  height: 500px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container-gray {
  display: flex;
  background-color: var(--grey);
  color: var(--blue);
}
.text-container-blue {
  display: flex;
  background-color: var(--blue);
  color: var(--grey);
/*  border: 1px solid yellow; */
}

.text-container {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
/*  border: 1px solid red; */
  /* padding: % 0 2% 5%;
  border-left: solid 5px var(--blue); */
}

/* ///// FOOTER /////////////////////////////////////// */
footer {
  position: absolute;
  width: 100%;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.footer-grid {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
}

.footer-grid a {
  color: var(--yellow);
  text-decoration: none;
}

.footer-left,
.footer-mid,
.footer-right {
  background-color: var(--blue);
  color: var(--grey)
}

footer .contact p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

footer .contact {
  margin-bottom: 1rem;
}

footer .contact .phone,
footer .contact .email {
  font-size: .8rem;
  line-height: 1.2rem;
}


/* .footer-container a,
.footer-container p {
  font-size: 17px;
  line-height: 25px;
  color: var(--white);
  margin: 0;
  text-align: center;
  text-decoration: none;
} */

/* Responsiveness TABLET /////////////////////////////////////// */
@media (min-width: 768px) {

}

/* Responsiveness SCREEN /////////////////////////////////////// */
/* @media (min-width: 1100px) {} */
