:root {
  --blue: #012654;
  --yellow: #fbe800;
  --grey: #ebebeb;
  --darkgrey: #2e2f31;
  --white: #fff;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* ///// HEADINGS + TYPOGRAPHY /////////////////////////////////////// */

h1,
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
}

/* ///// HEADER /////////////////////////////////////// */

.hero {
  background-image:
          linear-gradient(
                  rgba(60, 60, 60, 0.3),
                  rgba(60, 60, 60, 0.3)),
          url(./images/sks_header.jpg);
  filter: grayscale(30%);
  height: 86vh;
  background-position: 15%;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  color: var(--grey);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: -2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-nav {
  padding: .5rem;
  background:var(--blue);
}

.header-nav img {
  position: relative;
  height: 10vh;
  left: 5%;
}

.header-nav div {
  position: relative;
  display: table;
  float: right;
  right: 5%;
  height: 10vh;
}

.nav-element a {
  margin-top: 50%;
  margin-bottom: 50%;
  display: table-cell;
  vertical-align: middle;
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-element a:hover {
  opacity: .75;
}

.nav-element .active,
.nav-element a:active {
  opacity: .5;
}

.nav-element a:nth-first-of-type(1) {
  padding-left: .5rem;
}

.nav-element a:nth-last-of-type(1) {
  padding-right: .5rem;
}


/* Sticky class added to header when reached its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


/* //// SKS intro /////////////////////////////////////// */
.text-section:nth-child(2n-1) {
  background-color: var(--grey);
}
.intro-container {
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.intro-box {
  width: 95%;
  color: var(--blue);
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 700;
/*  border-left: solid 5px var(--blue);
  padding: 0 0 2% 5%; */
  margin: 0 auto;
}

.intro-box p {
  font-size: inherit;
  line-height: inherit;
}

.intro-box p:nth-last-of-type(1) {
  margin-bottom: -.5rem;
}


/* ///// SKS TEXT /////////////////////////////////////// */

.grid-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container-gray {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  color: var(--blue);
}
.text-container-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: var(--grey);
}

.text-container {
  width: 80%;
}

/* ///// FOOTER /////////////////////////////////////// */
footer {
  position: absolute;
  width: 100%;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.footer-grid {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 90%;
}

.footer-grid a {
  color: var(--yellow);
  text-decoration: none;
}

.footer-left,
.footer-mid,
.footer-right {
  background-color: var(--blue);
  color: var(--grey);
}

footer .contact p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

footer h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

footer .contact {
  margin-bottom: 1rem;
}

footer .contact .phone,
footer .contact .email {
  font-size: .8rem;
  line-height: 1.2rem;
}

footer .map {
  width: 90%;
  height: 70%;
  opacity: 70%;
}


/* Responsiveness TABLET /////////////////////////////////////// */
@media (min-width: 768px) {

  .hero h1 {
    font-size: 3.5rem;
    margin-top: 2rem;
  }

  /*  60% intro-width on tablet and up */
  .intro-box {
    width: 60%;
    color: var(--blue);
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 700;
    border-left: solid 5px var(--blue);
    padding: 0 0 2% 5%;
    margin: 0 auto;
  }

  /* zig-zag on tablet and up */
  .grid-section:nth-child(odd) div:nth-child(1) {
    order: 2;
  }

  .grid-section:nth-child(odd) div:nth-child(2) {
    order: 1;
  }

}

/* Responsiveness SCREEN /////////////////////////////////////// */
/* @media (min-width: 1100px) {} */
